.App {
  text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 169px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.fond {
  background-image: url('./Image/fond2.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
  overflow:hidden;
  word-Wrap:break-word;
  width: 100%;
}

.fond2 {
  background: url('./Image/table2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
